
  <h3>Enter Event Info:</h3>
  <form id='create-event-form' action='/create_event' method='post'>
    <label>Event Name: </label>
    <input class='clear-field' type='text' placeholder='Event Name' name='name'><br>
    <label>Event Location: </label>
    <input class='clear-field' type='text' placeholder='Event Location' name='location'><br>
    <label>Starts On: </label>
    <input class='clear-field' type='date' name='starts_at'>
    <label>Ends On: </label>
    <input class='clear-field' type='date' name='ends_at'>
    <input type='submit' name='Create Event'>
  </form>

