<h3>Login</h3>
  <form id='login-form' action='/login' method='post'>
    <input type='email' placeholder='Email' name='email'>
    <input type='password' placeholder='Password' name='password'>
    <input type='submit' value='Submit'>
  </form>
