<h3>Sign up</h3>
  <form id='signup-form' action='/sign_up' method='post'>
    <input class='clear-field' type='text' placeholder='First Name' name='firstname'>
    <input class='clear-field' type='text' placeholder='Last Name' name='lastname'>
    <input class='clear-field' type='email' placeholder='Email' name='email'>
    <input class='clear-field' type='date' name='birthdate'>
    <input class='clear-field' type='password' placeholder='Password' name='password'>
    <input type='submit' value='Submit'>
  </form>
